/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/***** HomePage css style *****/
.c-item{
    height: 480px;

}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview{
    height: 300px;
    background-color: gray;
}